/* header */
.header h1 {
    text-align: center;
}

/* selection box */
.selection-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: red;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 20px;
}
.selection-box button {
    font-size: 20px;
    font-family: "Space Mono";
    background-color: green;
    border-radius: 20px;
    padding: 0 20px;
}

/* search box */
.search-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.search-box input {
    font-size: 20px;
    font-family: "Space Mono";
    border-radius: 20px;
    padding: 0 10px;
    width: 200px;
    text-align: center;
}
.search-box button {
    font-size: 20px;
    font-family: "Space Mono";
    border-radius: 20px;
    padding: 0 20px;
}


img {
    width: 300px;
    height: auto;
}



.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.selection-box button {
    background-color: white;
}
.highlight {
    background-color: gray;
}