img {
    width: 300px;
    height: auto;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.selection-box button {
    background-color: white;
}
.highlight {
    background-color: gray;
}