/* header */
.header h1 {
    font-size: 50px;
    text-align: center;
    margin: 20px 0 0 0;
}
.header p {
    text-align: center;
}
.header hr {
    border: 1px solid black;
    margin: 30px;
}
.row-header {
    display: flex;
    justify-content: center;
}
.row-header .button-github {
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}

/* selection box */
.selection-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
}
.selection-box button {
    font-size: 20px;
    font-family: "Space Mono";
    background-color: #d46b08;
    border-radius: 20px;
    padding: 5px 20px;
    border-style: none;
    cursor: pointer;
}

/* search box */
.search-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.search-box input {
    font-size: 20px;
    font-family: "Space Mono";
    background-color: #d46b08;
    color: rgb(62, 62, 62);
    border-radius: 20px;
    padding: 5px 10px;
    width: 200px;
    text-align: center;
    border-style: none;
}
.search-box button {
    font-size: 20px;
    font-family: "Space Mono";
    background-color: #d46b08;
    border-radius: 20px;
    padding: 5px 20px;
    border-style: none;
    cursor: pointer;
}

/* details */
.details {
    border: 3px solid black;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    border-radius: 30px;
}
.details p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.row-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-details div {
    width: 50%;
    text-align: center;
}

/* images */
.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* border: 3px solid black; */
}
.image p {
    margin: 0;
}
img {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}